.section1, .section4{
    background-image: url("bg-callout.jpg");
    width       :   100%;
    height      :   100vh; 
}

.section2{
    background-color: aliceblue;
    width       :   100%;
    height      :   600px;
}

.section3{
    background-color: #1D809F;
    width       :   100%;
    height      :   800px;
}

.section5{
    background-color: aliceblue;
    width       :   100%;
    height      :   950px;
}

.section6{
    background-color: #1D809F;
    width       :   100%;
    height      :   500px;
}

.section7{
    background-color: white;
    width       :   100%;
    height      :   400px;
}

.section8{
    background-color: wheat;
    width       :   100%;
    height      :   200px;
}

.soc-icons{
    width       :   30%;
    height      :   40%;
}

.offer-icons{
    font-family :   'Source Sans Pro', sans-serif;
    font-size   :   70px;
}

.h-wrap{
    word-wrap   : break-word;
    text-align  : center;
}

.flex{
    display     :   flex;
    box-sizing  :   border-box; 
    align-items :   center;
    justify-content: center;
}

.container1, .container2, .container3{
    box-sizing  :    border-box;
    width       :    98%;
    height      :    220px;   
}

.container5{
    box-sizing  :    border-box;
    width       :    98%;
    height      :    800px;
}

.container6{
    /* box-sizing  :    border-box; */
    width       :    80%;
    height      :    100px;   
}


.container7, .container9{
    box-sizing  :    border-box;
    width       :    98%;
    height      :    400px;   
}

.container8{
    box-sizing  :    border-box;
    width       :    50%;
    height      :    50px;   
}

.container10{
    width       :   30%;
    height      :   80px; 
}

.container11{
    width       :   30%;
    height      :   20px; 
}

.container{
    display     :    block;
}

.menu-burger{
    display         :   block;
    justify-content :   right;
    width           :   20px;
    background-color: transparent;
}

.height-20{
    height      :   20px
}

.height-30{
    height      :   30px
}

.height-50{
    height      :   50px;
}

.height-80{
    height      :   80px;
}

.height-100{
    height      :   100px;
}

.height-120{
    height      :   120px;
}

.height-150{
    height      :   150px;
}


.height-200{
    height      :   200px;
}

.height-300{
    height      :   300px;
}

.height-400{
    height      :   400px;
}

.white-button{
    background-color: #f2f8f3;
    color           : black;
    padding         : 15px 32px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
    font-size       : 16px;
}

.blue-button{
    background-color: #1D809F;
    color           : white;
    padding         : 15px 32px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
    font-size       : 16px;
}

.black-button{
    background-color: #070e08;
    color           : white;
    padding         : 15px 32px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
    font-size       : 16px;
}

.font-16-white{
    font-family     :   'Source Sans Pro', sans-serif;
    font-size       :   16px;
    color           :   white;
}

.font-12-white{
    font-family     :   'Source Sans Pro', sans-serif;
    font-size       :   12px;
    color           :   white;
}

.grid-text{
    border          :   1px solid black; 
    color           :   white;
    padding-top     :   270px;
}

.box{
    border      :   0.5px solid black 
}

/* Mightmedia pagrindin?s stiliaus funkcijos */
img {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr, fieldset {
    margin: 2px;
    border: 1px dotted #CCC;
}

input, textarea, button, select {
    outline: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6b655c;
    background: #f8f8f8;
    border: 1px solid #6b655c;
    padding-left: 5px;
}

.editorius {
    width: 370px;
}

input, button, select {
    height: 20px
}

input[type="submit"], .submit, .perveiza {
    cursor: pointer;
    padding: 2px;
    background: #e6e6e6 url(paveiksleliai/hover.png) repeat-x;
    border: 1px solid #6b655c;
    color: #6b655c;
}

button {
    cursor: pointer;
    padding: 2px;
}

/* BB Kodo [code] forume laukas */
.code {
    margin: 10px;
    height: auto;
    width: 95%;
    background: #ccc;
}

textarea.input {
    width: 95%;
    background: #f8f8f8;
}

input.input {
    width: 95%;
}

/*Bloko meniu*/
#navigation {
    width: 100%;
    font-size: 12px;
}

#navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
}

#navigation ul li a {
    display: block;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 0px 2px 4px;
    text-decoration: none;
    color: #666666;
    width: 188px;
}

#navigation ul li:hover, #navigation ul li .active {
    color: #000000;
    background-color: #f2f2f2;
    position: relative;
}

/*Sub Meniu*/
#navigation ul ul {
    border: 0px;
    background: #f8f8f8 url(paveiksleliai/bloko_fonas.png) repeat-x;
    display: none;
    position: absolute;
    left: 188px;
    top: 0px;
    z-index: 100;
}

#navigation ul li:hover ul {
    display: block;
}

#navigation ul ul li {
    font-size: 12px;
    display: block;
    padding: 0px 0px 2px 4px;
    text-decoration: none;
    color: #666666;
    width: 188px;
}

#navigation ul ul li a {
    width: 180px;
}

#navigation ul ul li:hover {

}

#navigation li:hover ul li ul {
    display: none;
}

#navigation ul ul li ul {
    left: 110px;
}

#navigation ul ul li:hover ul {
    display: block;
}

/* Mygtukai profilio redagavimui bei moderatori? puslapiui */
.blokas {
    width: 77px;
    text-align: center;
    float: left;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
    height: auto;
    /*clear: both;*/
}

div.blokas a {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 3px;
}

div.blokas a:active, div.blokas a:hover {
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
}

div.blokas img {
    display: block;
    border: 0;
}

div.blokas img:hover {
    display: block;
    border: 0;
}

a.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin: 3px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

a.btn:active, a.btn:hover {
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
}

/* Lentel?ms */
.table {
    border-bottom: 2px solid #d1d1d1;
    border-right: 2px solid #d1d1d1;
}

.th {
    text-align: center;
    color: #6b655c;
    background: #d1d1d1;
    height: 22px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 13px;
}

.th a {
    color: white;
}

.tr2 {
    padding: 5px;
    background: #e5e5e5 url(paveiksleliai/hover.png) repeat-x;
    vertical-align: middle;
    overflow: hidden
}

.tr {
    padding: 5px;
    vertical-align: middle;
    overflow: hidden
}

.td {
    padding-left: 5px;
    border-left: 1px solid #d1d1d1;
    vertical-align: middle
}

.td2 {
    padding-left: 5px;
    border-left: 1px solid #d1d1d1;
    vertical-align: middle
}

table tr td {
    padding: 1px;
}

/* Kalendoriui */
.kalendorius table tr td {
    border-bottom: 1px dashed #d6d6d6;
    text-align: center;
}

.kalendorius .siandien {
    background: #d6d6d6;
    font-weight: bold;
    color: #fff
}

/* Linija, po naujiena, straipsniu, siuntiniu ir t.t */
.line {
    border-top: 1px dashed #d6d6d6;
    margin: 5px
}

/* Title lentel? i?okanti pel? u?vedus ant nuorodos su pavadinimu (title="") */
.tooltip {
    padding: 3px;
    border: 1px solid #000;
    display: none;
    background: #d6d6d6;
    color: #000;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    z-index: 1000;
}

/* Informaciniai prane?imai */
.klaida {
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    background: #f7e66c;
    border: 1px solid #c8bb45;
    color: #afa233;
}

.info_tekstas {
    color: #3d403d;
    padding-left: 40px;
    padding-bottom: 3px;
}

.info_pavadinimas {
    padding-top: 3px;
    padding-left: 40px;
}

.msg {
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    background: #c3ea86;
    border: 1px solid #a2cd5e;
    color: #769b3d;
}

.klaida .info_ikona {
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    height: 32px;
    width: 32px;
    background: url(paveiksleliai/warrning.png) no-repeat;
}

.msg .info_ikona {
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    height: 32px;
    width: 32px;
    background: url(paveiksleliai/tick.png) no-repeat;
}

/* Nario avataro paveiksl?lis */
.avataras img {
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    margin: 2px 10px 2px 2px;
    padding: 2px;
    float: left;
}

/* Kategorij? paveiksl?lis */
.kat img {
    height: 40px;
    width: 40px;
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    margin: 2px;
    padding: 2px;
    float: left;
    clear: left;
}

.forum_img {
    max-width: 400px;
    max-height: 400px;
    background: #fff;
    border: 1px solid #ccc;
    display: block;
    margin: 2px;
    padding: 2px;
}

/* Nario para?ui */
.signature {
    border-top: 1px dashed #fff;
}

/* Puslapiavimui */
.puslapiavimas {
    text-shadow: 0px 0px 0px;
    text-align: center;
}

.puslapiavimas a:hover {
    color: #fff;
    text-decoration: none;
}

.puslapiavimas .nuoroda {
    vertical-align: middle;
    background: #f2f2f2;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

.puslapiavimas .nuoroda:hover {
    background: #f09c1b;
}

.puslapiavimas .paspaustas {
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
    background: #f09c1b;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

/* Siustis.php puslapio siuntimosi mygtukas */
a.siust {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin: 3px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

/* Galerijai */
#gallery {
    position: relative;
}

.gallery_title, .gallery_menu {
    background: black;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    width: 100%;
}

.gallery_title {
    top: 0;
}

.gallery_menu {
    bottom: 5px;
}

.gallery_menu img {
    vertical-align: middle;
}

/* Apsaugos kodui */
#captcha {
    background: #f8f8f8;
}

/* Reitingavimas */
.base {
    background: url(paveiksleliai/ratings.png) 0 0 no-repeat;
}

.average {
    background: url(paveiksleliai/ratings.png) 0 -16px no-repeat;
}

.score a:hover {
    background: url(paveiksleliai/ratings.png) bottom left no-repeat;
}

/* Galerijos fotoalbumams */
.albumas {
    text-align: center;
    float: left;
    padding: 5px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    width: 133px;
    height: 140px;
    margin: 5px;
}

.albumas .foto {
    background: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    margin-bottom: 4px;
}

.albumas .foto:hover {
    opacity: 0.7;
    background: #d5d5d5;
    background-repeat: no-repeat;
    background-position: center center;
}

.albumas small {
    font-size: 10px;
}

/* Mightmedia pagrindinï¿½s stiliaus funkcijos */
img {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr, fieldset {
    margin: 2px;
    border: 1px dotted #CCC;
}

input, textarea, button, select {
    outline: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #5d5141;
    background: #cabfb0;
    border: 1px solid #5d5141;
    padding-left: 5px;
}

.editorius {
    width: 370px;
}

input, button, select {
    height: 20px
}

input[type="submit"], .submit, .perveiza {
    cursor: pointer;
    padding: 2px;
    background: #493313 url(paveiksleliai/hover.png) repeat-x;
    border: 1px solid #ccc;
    color: #fff;
}

button {
    cursor: pointer;
    padding: 2px;
}

/* BB Kodo [code] forume laukas */
.code {
    margin: 10px;
    height: auto;
    width: 95%;
    background: #ccc;
}

textarea.input {
    width: 90%;
    background: #cccccc;
}

select, input.input {
    width: 90%;
}
